version: '3.3'
networks:
    traefik:
        external:
            name: "{{ traefik_network }}"
{% if composes.cribl.mode == 'master' %}
    cribl:
        external: false
{% endif %}
services:
    app:
        image: "{{ composes.cribl.images.app }}"
        environment:
            - "CRIBL_DIST_MODE={{ composes.cribl.mode }}"
            - "CRIBL_DIST_MASTER_URL={{ composes.cribl.manager_url }}"
{% if composes.cribl.mode == 'master' %}
            - "CRIBL_VOLUME_DIR={{ composes.cribl.mounts.app.container }}"
{% endif %}
        restart: always
        networks:
{% if composes.cribl.mode == 'master' %}
            - cribl
{% endif %}            
            - traefik
{% if composes.cribl.mode == 'master' %}
        ports:
            - "{{ composes.cribl.ports.heartbeat.host }}:{{ composes.cribl.ports.heartbeat.container }}"
        volumes:
            - "{{ composes.cribl.mounts.app.local }}:{{ composes.cribl.mounts.app.container }}"
{% else %}
        ports:
{% for key, value in composes.cribl.ports.items() %}
            - "{{ value.host }}:{{ value.container }}/{{ value.protocol }}"
{% endfor %}
{% endif %}
{% if splunk.hec_endpoint is defined %}
        logging:
            driver: splunk
            options:
                splunk-url: "{{ splunk.hec_endpoint }}"
                splunk-token: "{{ splunk.hec_token }}"
                splunk-insecureskipverify: "{{ splunk.hec_skip_verify }}"
                splunk-format: "{{ splunk.hec_format }}"
{% endif %}
